    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Note-Taking-App</title>
    </head>
    <body>
    <div class="main min-h-screen w-full bg-zinc-800 p-10 text-white">
    <a href="/" class="inline-block mb-10 text-blue-500">Go Back Home</a>
    <h1 class="text-3xl tracking-tighter"><%= filename %></h1>
    <p class="text-xl mt-2"><%= filedata %></p>
    </div>
    </html>